<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="InsertTable" value="personalise_msg_submit"/>
		<add key="MysqlConnectionString" value="RGF0YSBTb3VyY2U9bG9jYWxob3N0O0luaXRpYWwgQ2F0YWxvZz1zd2lmdHNtc2RiO1VzZXIgSUQ9cm9vdDtQYXNzd29yZD1yb290O2RlZmF1bHQgY29tbWFuZCB0aW1lb3V0PTM2MDAwMDs="/>
		<add key="voiceDB" value="RGF0YSBTb3VyY2U9bG9jYWxob3N0O0luaXRpYWwgQ2F0YWxvZz1zd2lmdHNtc2RiO1VzZXIgSUQ9cm9vdDtQYXNzd29yZD1yb290O2RlZmF1bHQgY29tbWFuZCB0aW1lb3V0PTM2MDAwMDs="/>
		<add key="TemplateUri" value="http://templatematch.connectbox.in/service1.asmx/CheckTemplates?"/>
		<add key="inserttps" value="100"/>
		
		<add key="templateURL" value="http://13.233.144.252:4000/api/dlt/verify_message"/>
		<add key="dlt_auth_token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJiYTRmOTc2YS0yNDY1LTQ2NzEtYTkzNS1lNWY1YTUwMzcxN2MiLCJlbWFpbCI6InJvb3RAdml2YWNvbm5lY3QuY28iLCJpYXQiOjE2MDExMDAzNjd9.HErcl5gijzI9Oj43JqP7BSY6e1IkkdIPAL3mz-6NYwg"/>

		<!--logs Configuration goes here-->
		<add key="strLogFileName" value="Logconfig"/>
		<add key="strlogpath" value="E:\ExceptionLog\IIFL\"/>
		<add key="ErrorLogfileName" value="Errorconfig"/>
		<add key="Level0" value="1"/>
		<add key="Level1" value="1"/>
		<add key="Level2" value="1"/>
		<add key="Level3" value="1"/>
		<add key="Level4" value="1"/>
		<add key="writeexception" value="1"/>
		<add key="FileSize" value="10"/>
		<add key="FileSizeFormat" value="mb"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>

</configuration>
